.cardArticle11 {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin:5px;
    background: #CE0E2D
}
  
  .cardArticle11 img {
    width: 98%;
    height: auto;
    margin: 10px 5px 25px 5px  ;
  }
  
  .cardArticle11 p {
    /* text-align: center; */
    margin-top: 10px;
    color: white;
    width:  auto;
  }
  