.servicesMainBanner1{
    background-color: #CE0E2D;
    height: 400px;
}
.servicesMainBanner1>div{
    max-width: 1200px;
}
.servicesMainBanner1 h1{
    font-weight: 700 !important;
    font-size: 42px !important;
    line-height: 2.5rem;
}
.servicesMainBanner1 p{
    font-weight: 400px !important;
    font-size: 18px !important;
}
.servicesMainBanner1 button{
        color: white; 
        padding: 10px 28px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        font-size: 16px !important;
        font-weight: 700 !important;
        margin: 4px 2px; 
        cursor: pointer; 
        border-radius: 8px; 
        transition: background-color 0.3s ease; 
    /* font-weight: 700 !important;
    font-size: 16px !important; */
    /* padding-top:10px;
    padding-bottom: 10px; */
    /* padding:13px 15px 5px 15px; */
}
.servicesMainBanner1 button:hover{
    color: #CE0E2D !important;
}
.servicesMainBanner1 span{
    color: #CE0E2D !important;
    display: inline-block;
    padding: 2px 1px 0px 2px;
    margin-top: 5px;
}

.servicesBannerLeft{
    max-width: 500px;
}
@media (max-width: 991px){
    .servicesMainBanner1{
        height: auto;
    }
    .servicesMainBanner1 h1{
        font-size: 28px !important;
        line-height: 2.2rem;
    }
    .servicesMainBanner1 span{
        color: #CE0E2D !important;
        display: inline-block;
        padding: 0px 5px 0px 5px !important ;
    }
}
